<h1>{{ title }}</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['people']">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['planets']">Planets</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <tabset>
    <tab heading="People" routerLinkActive="active" [routerLink]="['people']"></tab>
    <tab heading="Planets" routerLinkActive="active" [routerLink]="['planets']"></tab>
</tabset>
<router-outlet></router-outlet> -->
